Repository BobAnkh/LinuxBeginner, pull requests merged in 2020-08, with the labels that each got.

#45 docs(LinuxCommand): add linux command grep
  docs/LinuxCommand/grep.md
Labels: LinuxCommand, documentation

#37 feature(yapf): add yapf formatter
  .github/workflows/yapf.yml
  scripts/requirements.txt
  scripts/yapf_formatter.py
Labels: Type: CI/CD, chore, enhancement

#46 docs(LinuxTool): update Linux tool tree
  docs/LinuxTool/tree.md
Labels: LinuxTool, documentation
