Repository BobAnkh/LinuxBeginner, pull requests merged in 2020-07, with the labels that each got.

#5 LinuxCommand: ls
  docs/LinuxCommand/ls.md
Labels: LinuxCommand

#9 LinuxCommand: add "基本功能" "注意事项" "常用形式" for mkdir, rm and rmdir
  docs/LinuxCommand/mkdir.md
  docs/LinuxCommand/rm.md
  docs/LinuxCommand/rmdir.md
Labels: LinuxCommand

#10 LinuxCommand: update command touch
  docs/LinuxCommand/touch.md
Labels: LinuxCommand

#12 LinuxCommand: Update command cd
  docs/LinuxCommand/cd.md
Labels: LinuxCommand

#11 LinuxCommand: add contents for touch.md
  docs/LinuxCommand/touch.md
Labels: LinuxCommand

#13 LinuxCommand: add LinuxCommand ln
  docs/LinuxCommand/README.md
  docs/LinuxCommand/ln.md
Labels: LinuxCommand

#14 LinuxCommand: update cp and mv
  docs/LinuxCommand/cp.md
  docs/LinuxCommand/mv.md
Labels: LinuxCommand

#18 LinuxCommand: update tar
  docs/LinuxCommand/tar.md
Labels: LinuxCommand

#16 LinuxCommand: add env
  docs/LinuxCommand/README.md
  docs/LinuxCommand/env.md
  docs/summary.md
Labels: LinuxCommand

#20 LinuxCommand: fix some typos concerning markdownlint
  docs/LinuxCommand/cp.md
  docs/LinuxCommand/env.md
  docs/LinuxCommand/ln.md
  docs/LinuxCommand/mv.md
Labels: LinuxCommand

#25 LinuxCommand: update chmod, find, locate, which, head and tail
  docs/LinuxCommand/chmod.md
  docs/LinuxCommand/find.md
  docs/LinuxCommand/head.md
  docs/LinuxCommand/locate.md
  docs/LinuxCommand/tail.md
  docs/LinuxCommand/which.md
Labels: LinuxCommand

#31 docs(LinuxCommand): update more and less
  docs/LinuxCommand/less.md
  docs/LinuxCommand/more.md
Labels: LinuxCommand

#34 docs(LinuxCommand): update nl, pwd and whereis
  docs/LinuxCommand/nl.md
  docs/LinuxCommand/pwd.md
  docs/LinuxCommand/whereis.md
Labels: LinuxCommand, documentation

#36 chore(deps): bump wrapt from 1.11.2 to 1.12.1 in /scripts
  scripts/requirements.txt
Labels: chore
